# SN light curve fitting

This exploratory notebook tries to use tape to fit SN Ia light curves using a SALT3 model from SNCosmo

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sncosmo
from tape import Ensemble
from tape.utils import ColumnMapper
import pandas as pd
import dask.dataframe as dd
from datautils import fit_salt2
from snutils import MySNUtils

In [ ]:
mysn = MySNUtils()
fit_lcparams = mysn.fit_lcparams

In [3]:
ens = Ensemble(client=False)

#### try using pandas df first

In [4]:
# %%timeit

obj = pd.read_csv('data/allsne_simple_sninfo.txt',sep='\s+')
src = pd.read_csv('data/allsne_simple.txt',sep='\s+',dtype={"Type":str,"Instrument":str})

In [5]:
obj.head()

,Name,RA,DEC,z_helio,z_CMB,Host,Morphology,Type,Sample,xf,yf,Name_upper,Name_alt,Flag
0,sn2004dt,30.553208,-0.097639,0.0197,0.018795,NGC 799,(R')SB(s)a,normal,CSP,NaN,NaN,SN2004DT,sn2004dt,10
1,sn2004ef,340.541750,19.994556,0.0310,0.029804,UGC 12158,Sb,normal,CSP,NaN,NaN,SN2004EF,sn2004ef,10
2,sn2004eo,308.225792,9.928528,0.0157,0.014744,NGC 6928,SB(s)ab,normal,CSP,NaN,NaN,SN2004EO,sn2004eo,10
3,sn2004ey,327.282542,0.444222,0.0158,0.014650,UGC 11816,SB(rs)c,normal,CSP,NaN,NaN,SN2004EY,sn2004ey,10
4,sn2004gc,80.458125,6.676028,0.0321,0.032135,ARP 327 NED04,cdots,normal,CSP,NaN,NaN,SN2004GC,sn2004gc,10

In [6]:
src.head()

,Name,MJD,Filter,Mag,MagErr,Survey,Name_upper,Name_alt,Type,Instrument
0,SN2004dt,53249.29,u,16.665,0.017,CSP,SN2004DT,SN2004dt,NaN,NaN
1,SN2004dt,53250.31,u,16.804,0.012,CSP,SN2004DT,SN2004dt,NaN,NaN
2,SN2004dt,53251.33,u,16.912,0.012,CSP,SN2004DT,SN2004dt,NaN,NaN
3,SN2004dt,53252.36,u,17.069,0.014,CSP,SN2004DT,SN2004dt,NaN,NaN
4,SN2004dt,53253.28,u,17.158,0.012,CSP,SN2004DT,SN2004dt,NaN,NaN

In [7]:
col_map = ColumnMapper(id_col="Name_upper",
    time_col="MJD",
    flux_col="Mag",
    err_col="MagErr",
    band_col="Filter")

In [8]:
# %%timeit

ens.from_pandas(src,object_frame=obj,column_mapper=col_map,npartitions=1,sync_tables=False)

#### Now try Dask dataframe

In [9]:
# # %%timeit

# obj = dd.read_csv('data/allsne_simple_sninfo.txt',sep='\s+')
# src = dd.read_csv('data/allsne_simple.txt',sep='\s+',dtype={"Type":str,"Instrument":str})

In [10]:
# # %%timeit

# ens.from_dask_dataframe(src,object_frame=obj,column_mapper=col_map,sync_tables=False)

#### Check ensemble info

In [11]:
ens.info(verbose=True)

Object Table
<class 'dask.dataframe.core.DataFrame'>
Index: 2642 entries, 03D1AR to SNF20080909-030
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        2642 non-null      string
 1   RA          2625 non-null      float64
 2   DEC         2625 non-null      float64
 3   z_helio     2524 non-null      float64
 4   z_CMB       2507 non-null      float64
 5   Host        1736 non-null      string
 6   Morphology  493 non-null      string
 7   Type        704 non-null      string
 8   Sample      2642 non-null      string
 9   xf          285 non-null      float64
10   yf          285 non-null      float64
11   Name_alt    2642 non-null      string
12   Flag        2642 non-null      int64
13   nobs_total  0 non-null      float64
dtypes: float64(7), int64(1), string(6)
memory usage: 345.3 KB
Source Table
<class 'dask.dataframe.core.DataFrame'>
Index: 256048 entries, 03D1AR to SNF20080909-030
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        256048 non-null      string
 1   MJD         256048 non-null      float64
 2   Filter      256048 non-null      string
 3   Mag         212028 non-null      float64
 4   MagErr      256044 non-null      float64
 5   Survey      256048 non-null      string
 6   Name_alt    256048 non-null      string
 7   Type        4637 non-null      string
 8   Instrument  30814 non-null      string
dtypes: float64(3), string(6)
memory usage: 21.1 MB

#### Now query for some subsample

##### <span style="color:red">Question: how do I query with a list of names (indices)/ first N rows / random N rows?</span>

In [23]:
# ens.query("Sample == 'Foundation'")
ens.query("Name_upper == 'ASASSN-15BC'")

##### show the queried result with ens.compute()

In [24]:
ens.compute(table="object")

,Name,RA,DEC,z_helio,z_CMB,Host,Morphology,Type,Sample,xf,yf,Name_alt,Flag,nobs_total
Name_upper,,,,,,,,,,,,,,
ASASSN-15BC,ASASSN-15bc,61.5625,-8.885633,0.036715,0.036395,2MASX J04061478-0853112,<NA>,<NA>,Foundation,NaN,NaN,ASASSN-15bc,10,NaN

In [25]:
#this is for setting up filters for sncosmo
register_bands_for_sncosmo()

#### testing the function without using tpae

In [26]:
data = ens.compute(table="source").reset_index()
meta = ens.compute(table="object").reset_index()
res = fit_lcparams(data,meta)

Base model info:
<Model at 0x28e3cd750>
source:
  class      : SALT2Source
  name       : 'salt2'
  version    : T23
  phases     : [-20, .., 50] days
  wavelengths: [2000, .., 9200] Angstroms
effect (name='mw' frame='obs'):
  class           : F99Dust
  wavelength range: [909.09, 60000] Angstroms
  phase range     : [nan, nan]
parameters:
  z     = 0.0
  t0    = 0.0
  x0    = 1.0
  x1    = 0.0
  c     = 0.0
  mwebv = 0.0
0 fitting  ASASSN-15BC z= 0.036715 zsource= Foundation mwebv= 0.03744680414174253
Survey =  Foundation

/Users/mi/anaconda3/envs/tape_env/lib/python3.10/site-packages/iminuit/util.py:172: IMinuitWarning: Assigned errors must be positive. Non-positive values are replaced by a heuristic.
  warnings.warn(

In [27]:
# get the column names. We will use them as an input to ensemble.batch()
dfmeta = pd.DataFrame(res.dtypes.to_dict(),index=[0])

In [28]:
dfmeta

,success,ncall,chisq,ndof,z,z_err,t0,t0_err,x0,x0_err,...,mwebv_c_cov,mwebv_mwebv_cov,Name,Survey,ErrorType,ErrorMesg,bands,bands2,last_fitmjd,first_fitmjd
0,int64,int64,float64,int64,float64,float64,float64,float64,float64,float64,...,float64,float64,object,object,object,object,object,object,float64,float64

#### Now run with ensemble.batch()

In [31]:
res = ens.batch(fit_salt2,"Name_upper","MJD","Mag","MagErr","Filter","Instrument","Survey",
          "RA","DEC","z_helio","Sample",on=["Name_upper","RA","DEC","z_helio","Sample"],register_bands=True,
          meta=dfmeta,rescols=dfmeta,write_to_file=False)

Base model info:
<Model at 0x28db0b9d0>
source:
  class      : SALT2Source
  name       : 'salt2'
  version    : T23
  phases     : [-20, .., 50] days
  wavelengths: [2000, .., 9200] Angstroms
effect (name='mw' frame='obs'):
  class           : F99Dust
  wavelength range: [909.09, 60000] Angstroms
  phase range     : [nan, nan]
parameters:
  z     = 0.0
  t0    = 0.0
  x0    = 1.0
  x1    = 0.0
  c     = 0.0
  mwebv = 0.0
0 fitting  ASASSN-15BC z= 0.036715 zsource= Foundation mwebv= 0.03744680414174253
Survey =  Foundation

/Users/mi/anaconda3/envs/tape_env/lib/python3.10/site-packages/iminuit/util.py:172: IMinuitWarning: Assigned errors must be positive. Non-positive values are replaced by a heuristic.
  warnings.warn(

In [32]:
res

,,,,,success,ncall,chisq,ndof,z,z_err,t0,t0_err,x0,x0_err,...,mwebv_c_cov,mwebv_mwebv_cov,Name,Survey,ErrorType,ErrorMesg,bands,bands2,last_fitmjd,first_fitmjd
Name_upper,RA,DEC,z_helio,Sample,,,,,,,,,,,,,,,,,,,,,
ASASSN-15BC,61.5625,-8.885633,0.036715,Foundation,1,52,21.581532,28,0.036715,0.0,57047.828827,0.109858,0.002572,0.000071,...,0.0,0.0,ASASSN-15BC,Foundation,None ...,None ...,girz,girz,57075.225824,57042.214983